
  <footer>
      <div class="container">
        <div class="row">
          <p class="right">&copy; 2017, WSU Tecnologia</p>
          <ul>

          </ul>
        </div>
      </div>
  </footer>

  <script async src="//cdn.headwayapp.co/widget.js"></script>
  <script>
    var HW_config = {
      selector: ".headway",
      account: "J3nOe7"
    };
  </script>
</body>
</html>
